.page {
  background: #fff
  h2{
    color: #ff502f;
  }
  h3{
    color: #004d61;
  }
  h4{
    color: #348498;
  }
  h5{
    color: #5bd1d7;
  }
  .page-title {
    margin: 0;
    max-width: 65rem !important
    margin-bottom: 12px !important
  }
  .content__default {
    background: #fff
    border: 1px dashed salmon
    box-shadow: 2px 5px 8px darkgray
  }
}
.no-sidebar{

  .content__default {
    max-width: 750px !important
    background: #fff
    border: none !important
    box-shadow: none !important
  }
}


blockquote {
  p {
      font-size: 16px
  }
}

